<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartRelief - MyPortal</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="./home">SmartRelief</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home.ejs">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="post.html">Donations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">My Portal</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/1282267/pexels-photo-1282267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Thank You for Your Support</h1>
                    <span class="subheading">Your generosity saves lives.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">


      <div class="col">
          <!-- DataTables Example -->
          <div class="card mb-3">
              <div class="card-header">
                  <div style="text-align: center;"> Donate Here</div>
              </div>
              <div class="card-body">
                  <p>We appreciate your efforts in helping those in need. Rest assured all transactions are secure and progress is being made to recover from this experience.</p>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form>
  <div class="form-group row">
    <label for="sel1" class="col-form-label">Natural Disaster Relief Effort :</label>
    <select class="form-control" id="sel1">
      <option>Hurricane Florence</option>
      <option>Hurricane Maria</option>
      <option>Mexico Earthquake</option>
    </select>
  </div>

  <div class="form-group row">
    <label for="sel1" class="col-form-label">Currency :</label>
    <select class="form-control" id="sel1">
      <option>USD (U.S Dollar)</option>
      <option>MLX (Lumen)</option>
      <option>BTC (Bitcoin)</option>
    </select>
  </div>
    <div class="form-group row">
<label for="example-number-input" class="col-form-label">Amount : </label>
  <div class="col">
    <input class="form-control" type="number" value="10" id="example-number-input">
  </div>
  </div>
  <br />
  <button type="submit" onClick="stellar.js" class="btn btn-primary">Donate Now</button>
</form>

              </div>
          </div>

          <form id="link-form-id" method="GET"></form>
          <script
                  src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"
                  data-client-name="Client Name"
                  data-form-id="link-form-id"
                  data-key="7846e34744ab3e59bc4cbb0ee901a9"
                  data-product="auth"
                  data-env="sandbox">
          </script>
      </div>



        <div class="col">
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <div style="text-align: center;"> my most recent donations</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Cause</th>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Cause</th>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>Hurricane Irma</td>
                                <td>10/12/2015</td>
                                <td>$31.50</td>
                            </tr>
                            <tr>
                                <td>The Big Earthquake, California</td>
                                <td>08/16/2012</td>
                                <td>$31.50</td>
                            </tr>
                            <tr>
                                <td>Hurricane Irma</td>
                                <td>10/01/2011</td>
                                <td>$31.50</td>
                            </tr>
                            <tr>
                                <td>Hurricane Katrina</td>
                                <td>08/03/2007</td>
                                <td>$31.50</td>
                            </tr>
                            <tr>
                                <td>Hurricane Tim</td>
                                <td>06/19/2005</td>
                                <td>$31.50</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>



    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; HackMIT 2018</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<script src="js/stellar.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>
