<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> SmartRelief Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            <form id="link-form-id" method="GET"></form>
            <script
                    src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"
                    data-client-name="Client Name"
                    data-form-id="link-form-id"
                    data-key="7846e34744ab3e59bc4cbb0ee901a9"
                    data-product="auth"
                    data-env="sandbox">
            </script>
        </div>
    </div>
</body>
</html>